:root {
  overflow-x: hidden;
}

.breakText {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}

.indented-par:first-child {
  text-indent: 10%;
}

section {
  text-align: center;
}

.about-image {
  margin: 0 50px 20px 50px;
  float: center;
  border-width: 5px;
  border: solid black;
  min-width: 250px;
  min-height: 250px;
  width: 20%;
  height: auto;
}

.customTitle {
  text-decoration: underline;
}

@media all and (min-width: 600px) {
  .about-image {
    float: left;
  }
  section {
    text-align: left;
  }
}